body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  line-height: 40px;
  color:black;
}

* {
  box-sizing: content-box;
}

/* general */

.container {
  clear: both;
}
.home{
  background-image: url("../images/EIAT medical hub.jpg");
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.checkin{
  background-image: url("../images/HealthcareMeasurement.jpg");
  background-size: cover;
  min-height: 100vh;
}
.limited-width{
  width: 50%;
  max-width: 560px;
  box-sizing: border-box;
}
.tables-page{
  background-image: url("../images/Print-OOH-Health.jpg");
  background-size: cover;
  min-height: 100vh;
}
card{
  width: 100%;
  max-width: 100%;
}
.bbox{
  box-sizing: border-box;
}
.form-control{
  box-sizing: border-box;
}
.chk-apt-title{
  padding-bottom: 10px;
}
.light-bg{
  background-color: rgba(245, 245, 245, 0.25);
}