body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 40px;
    color:black;
    /* background-color: rgb(18, 228, 210); */
    background-image: url("../images/EIAT medical hub.jpg");
    background-size: cover;
    background-color: rgba(245, 245, 245, 1);
    opacity: .4;
    
  }
  
  * {
    box-sizing: content-box;
  }
  
  /* general */
  
  .container {
    width: 50%;
    max-width: 560px;
    margin: 10 auto;
    clear: both;
  }
  